<body class = 'container'>
  <h1> Rock, Paper, Scissors - Two Player Game </h1>

      <form action='/twoplayername' method="post">
    <h2> Player 2 Please enter your name <h2>
      <input type="text" name="player2_name" required>
      <h3>Please enter either Rock, Paper or Scissors below and press "Play" </h3>

        <form action='/twoplayer' method="post">
          <select name="player2_choice">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
          </select>

              <input type="submit" value="Play" class="btn btn-primary btn-lg">
            </a>
        </form>


</body>
