<body class = 'container'>
  <h1> Rock, Paper, Scissors - Two Player Game </h1>
  <% if @player1_name %>
      <form action='/twoplayer' method="post">
    <h2> Player 2 Please enter your name </h2>
      <input type="text" name="player2_name" required>
      <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  <% else %>
      <form action='/twoplayer' method="post">
    <h2> Player 1 Please enter your name <h2>
      <input type="text" name="player1_name" required>
      <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  <% end %>

</body>
